body {
  background-color: #FFE4DE;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#title {
    color:rgb(51, 159, 123)
}

.myCanvas {
	border:1px solid #000000;
  display: block;
  margin: 0 auto;
}

.header {
  background-color: #FFE4DE;
  border: solid rgb(174, 149, 149)
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: #000000;
}

li {
	float: left
}

li a {
	display: block
	text-align: center;
	padding: 15px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(174, 149, 149)
}